{% extends "base.html" %}


{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">FN6 Students List</h1>
    </div> 
    <main class="container">
    <div class="bg-body-tertiary p-5 rounded">
      <h2>Navbar example</h2>
      <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
      <a class="btn btn btn-secondary" href="#" role="button">Read more</a>
    </div>
  </main>
</main>

{% endblock content %}